body{
    background-color: #DFF6FF;
}

.a{
    background-color: #3399ff;
    padding: 5%;
    position: fixed; 
  top: 28%;
  left: 39%;
  border-radius: 20px;
  color: white;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: #051367;
}